In [1]:
import pandas as pd
import json
import requests
from pprint import pprint
import numpy as np

Info needed for average participant
age, bbtype, wfreq, top 10 baceteria found on average

In [2]:
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.1/14-Interactive-Web-Visualizations/02-Homework/samples.json"

In [3]:
#make request and store response
response = requests.get(url)

#verify status code
response.status_code

200

In [4]:
#jsonify response
response_json = response.json()

In [5]:
ids = response_json['names']

In [ ]:
#response_json["metadata"][0]
#response_json["samples"][0]["sample_values"][:10]

In [6]:
wfreq_list = []
bbtype_list = []
age_list = []

for i in range(0, len(ids)):
    temp_wfreq = response_json["metadata"][i]["wfreq"]
    temp_bbtype = response_json["metadata"][i]["bbtype"]
    temp_age = response_json["metadata"][i]["age"]

    wfreq_list.append(temp_wfreq)
    bbtype_list.append(temp_bbtype)
    age_list.append(temp_age)

In [14]:
#remove "None" values from lists
for i in wfreq_list:
    if i == None:
        wfreq_list.remove(i)
for j in bbtype_list:
    if j == None:
        bbtype_list.remove(j)
for k in age_list:
    if k == None:
        age_list.remove(k)

#convert float datatype values to integers
final_wash = list(map(int, wfreq_list))
final_age = list(map(int, age_list))

#create function to get the average from a list
def get_average(data):
    return round(sum(data)/len(data))

print(f"The average wash frequency of belly button per week: {get_average(final_wash)}")

The average wash frequency of belly button per week: 3

In [15]:
print(f"The average age among participants: {get_average(final_age)}")

The average age among participants: 35

In [21]:
bbtype_list = [x.upper() for x in bbtype_list]
bbtype_series = pd.Series(bbtype_list)

In [27]:
print(f"The majority of participants have a Innie Belly Button")
bbtype_series.value_counts()

The majority of participants have a Innie Belly Button

I          133
O            6
BOTH         2
UNKNOWN      1
dtype: int64

In [30]:
otu_list = []
labels_list=[]

#for each paticipant I want the top ten ids found in their belly button
for i in range(0, len(ids)):
    temp_otus = response_json["samples"][i]["otu_ids"][:10]
    #response_json["samples"][i]["sample_values"]
    temp_labels = response_json["samples"][i]["otu_labels"][:10]

    otu_list.append(temp_otus)
    labels_list.append(temp_labels)

In [31]:
df = pd.DataFrame()
df["id_num"] = list(np.concatenate(otu_list))
df["label"] = list(np.concatenate(labels_list))

In [67]:
df2 = pd.DataFrame(df.value_counts()[:10])
df2

                                                             0
id_num label
1795.0 Bacteria;Firmicutes;Bacilli;Bacillales;Staphylo...  101
944.0  Bacteria;Actinobacteria;Actinobacteria;Actinomy...   88
922.0  Bacteria;Actinobacteria;Actinobacteria;Actinomy...   75
2419.0 Bacteria;Firmicutes;Clostridia;Clostridiales;In...   67
2859.0 Bacteria;Firmicutes;Clostridia;Clostridiales;In...   61
1167.0 Bacteria;Bacteroidetes;Bacteroidia;Bacteroidale...   51
2539.0 Bacteria;Firmicutes;Clostridia;Clostridiales;In...   48
2722.0 Bacteria;Firmicutes;Clostridia;Clostridiales;In...   47
943.0  Bacteria;Actinobacteria;Actinobacteria;Actinomy...   36
728.0  Bacteria;Actinobacteria;Actinobacteria;Actinomy...   33

Data For Average Participant

In [ ]:
ids = [1795, 944, 922, 2419, 2859, 1167, 2539, 2722, 943, 728]
labels = ["Bacteria;Firmicutes;Bacilli;Bacillales;Staphylococcaceae;Staphylococcus", "Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae;Corynebacterium", 
"Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae;Corynebacterium", "Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus", 
"Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus", "Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas", 
"Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus","Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Finegoldia", 
"Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae;Corynebacterium", "Bacteria;Actinobacteria;Actinobacteria;Actinomycetales"]
count = [101, 88, 75, 67, 61, 51, 48, 47, 36, 33]

wfreq = 3 
age = 35
bbtype = I